@using WFM.BAL.ViewModels;

@{
    ViewBag.Title = "Home Page";
}
<script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable();
    });
</script>

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Project Dashboard</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @*<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard Template</li>*@
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div style="width:25px;height:25px;border:1px solid #000;display: inline-block;" class="days_over_100"></div>
                <div style="width: 100px; height: 25px; display: inline-block;"><p>Over 100</p></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div style="width:25px;height:25px;border:1px solid #000;display: inline-block;" class="days_over_50"></div>
                <div style="width: 100px; height: 25px; display: inline-block;"><p>Over 50</p></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div style="width:25px;height:25px;border:1px solid #000;display: inline-block;" class="days_over_25"></div>
                <div style="width: 100px; height: 25px; display: inline-block;"><p>Over 25</p></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div style="width:25px;height:25px;border:1px solid #000;display: inline-block;" class="days_over_15"></div>
                <div style="width: 100px; height: 25px; display: inline-block;"><p>Over 15</p></div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                <div style="width:25px;height:25px;border:1px solid #000;display: inline-block;" class="days_below_15"></div>
                <div style="width: 100px; height: 25px; display: inline-block;"><p>Below 15</p></div>
            </div>
        </div>
        <div class="row">
            <!-- ============================================================== -->
            <!-- justified tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                @{
                    Dictionary<string, List<ProjectViewModel>> projectListPerType = ViewBag.ProjectTypes;
                    foreach (var projectType in projectListPerType)
                    {
                        <div>
                            <div class="section-block">
                                <h5 class="section-title">Project Type : @projectType.Key</h5>
                            </div>
                        </div>

                        var projectListPerStatus = projectType.Value.GroupBy(p => p.StatusName);
                        int i = -1;
                        int j = -1;
                        <div class="tab-regular">
                            <ul class="nav nav-tabs nav-fill" id="myTab7" role="tablist">
                                @foreach (var projectStatus in projectListPerStatus)
                                {
                                    i = i + 1;
                                    <li class="nav-item">
                                        <a class="nav-link active @(i == 0)? @Html.DisplayText("active") : @Html.DisplayText("")" id="home-tab-@projectStatus.Key.Replace(" ", "-")-@projectType.Key.Replace(" ", "-")" data-toggle="tab" href="#home-@projectStatus.Key.Replace(" ", "-")-@projectType.Key.Replace(" ", "-")" role="tab" aria-controls="home" aria-selected="true">@projectStatus.Key</a>
                                    </li>
                                }
                            </ul>
                            <div class="tab-content" id="myTabContent7">
                                @foreach (var projectStatus in projectListPerStatus)
                                {
                                    j = j + 1;
                                    <div class="tab-pane fade show active @(j == 0)? @Html.DisplayText("active") : @Html.DisplayText("")" id="home-@projectStatus.Key.Replace(" ", "-")-@projectType.Key.Replace(" ", "-")" role="tabpanel" aria-labelledby="home-tab-@projectStatus.Key.Replace(" ", "-")-@projectType.Key.Replace(" ", "-")">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table id="example" class="table table-striped table-bordered first">
                                                            <thead>
                                                                <tr>
                                                                    <th>Code</th>
                                                                    <th>Organization</th>
                                                                    <th>Sector : SubSector</th>
                                                                    <th>Start Date</th>
                                                                    <th>Expiary Date</th>
                                                                    <th>Value</th>
                                                                    <th>Days Due</th>
                                                                    <th>Current Tab &amp; Date</th>
                                                                    <th>Days in Current Tab</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var project in projectStatus)
                                                                {
                                                                    string cssClass = "";
                                                                    if (project.DaysDue > 100)
                                                                    {
                                                                        cssClass = "days_over_100";
                                                                    }
                                                                    else if (project.DaysDue > 50)
                                                                    {
                                                                        cssClass = "days_over_50";
                                                                    }
                                                                    else if (project.DaysDue > 25)
                                                                    {
                                                                        cssClass = "days_over_25";
                                                                    }
                                                                    else if (project.DaysDue > 15)
                                                                    {
                                                                        cssClass = "days_over_15";
                                                                    }
                                                                    else
                                                                    {
                                                                        cssClass = "days_below_15";
                                                                    }
                                                                <tr>
                                                                    <td class="@cssClass">@project.Code</td>
                                                                    <td class="@cssClass">@project.OrganizationName</td>
                                                                    <td class="@cssClass">@project.SectorName : @project.SubSectorName</td>
                                                                    <td class="@cssClass">@project.StartDate</td>
                                                                    <td class="@cssClass">@project.ExpiaryDate</td>
                                                                    <td class="@cssClass">@project.Value</td>
                                                                    <td class="@cssClass">@project.DaysDue</td>
                                                                    <td class="@cssClass">@project.CurrentDocumentTabName - (@project.CurrentDocumentTabDate)</td>
                                                                    <td class="@cssClass">@project.DaysInCurrentTab</td>
                                                                </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
            <!-- ============================================================== -->
            <!-- end justified tabs  -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>